{% extends 'base.html' %}
{% block content %}

<h1>Search Results:</h1>

{% for recipe in object_list %}
<div class="card" id="index-item">
  <a href="{% url 'detail' recipe.id %}">
    <div class="card-content" id="recipe">
      {% for photo in recipe.photo_set.all %}
        {% if forloop.counter < 2 %} 
          <img id="index-photo" src="{{photo.url}}">
        {% endif %}
      {% empty %}
      {% endfor %}
      <div class="index-info">
        <span class="card-title">{{ recipe.name }}</span>
        <p>Description: {{ recipe.description|linebreaks }}</p><br>
        <p>Region: {{ recipe.get_region_display }}</p><br>
      </div>
    </div>
  </a>
</div>
{% endfor %} <br><br>
{% endblock %}