{% extends 'base.html' %}
{% block content %}

<h1>Recipe Details</h1>

<div class="row">
  <div></div>
  <div class="card">
    <div class="card-content">
      <h2 class="recipe-title">{{ recipe.name }}</h2>
      <h5 class="sub">Ingredients: </h5>
      <p>{{ recipe.ingredients|linebreaks }}</p><br>
      <h5 class="sub">Description: </h5>
      <p>{{ recipe.description|linebreaks }}</p><br>
      <h5 class="sub">Directions: </h5>
      <p><br>{{ recipe.directions }}</p><br>
      <h5 class="sub">Region: </h5>
      <p>{{ recipe.get_region_display }}</p>
    </div>
    {% if request.user == recipe.user %}
    <div class="card-action">
      <a href="{% url 'recipes_update' recipe.id %}">Edit</a>
      <a href="{% url 'recipes_delete' recipe.id %}">DELETE</a>
    </div>
    {% endif %}
  </div>
  <!-- Insert photo markup below this comment -->
  {% for photo in recipe.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
  {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
  <form action="{% url 'add_photo' recipe.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <button type="submit" class="btn">Upload Photo</button>
</form>
    <div class="card-action">
      <form action="{% url 'add_review' recipe.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" class="btn" value="Add Review">
      </form>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Date (UTC)</th>
          <th>Comment</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for review in recipe.review_set.all %}
        <tr>
          <td>{{review.user}}</td>
          <td>{{review.date}}</td>
          <td>{{review.comment|linebreaks}}</td>
          <td>{{review.get_rating_display}}</td>
          {% if request.user == review.user %}
          <td><a href="{% url 'delete_review' review.id %}">DELETE</a></td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <script>
    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);
  </script>
{% endblock %}