{% extends 'base.html' %}
{% block content %}

<h1>All Recipes 🍱</h1><br>

<h5 class="search">Search For Recipe 👓 </h5>
  <form action="{% url 'search_results' %}" method="get" id="search">
    <input name="q" type="text" placeholder="Name Of Recipe or Region" id="search-bar">
    <button type="submit" class="btn">Search</button>
  </form>
<br><br><br><br>

{% for recipe in recipes %}
<div class="card" id="index-item">
  <a href="{% url 'detail' recipe.id %}">
    <div class="card-content" id="recipe">
      {% for photo in recipe.photo_set.all %}
        {% if forloop.counter < 2 %} 
          <img id="index-photo" src="{{photo.url}}">
        {% endif %}
      {% empty %}
      {% endfor %}
      <div class="index-info">
        <span class="card-title">{{ recipe.name }}</span>
        <p>Description: {{ recipe.description|linebreaks }}</p><br>
        <p>Region: {{ recipe.get_region_display }}</p>
      </div>
    </div>
  </a>
</div>
{% endfor %} <br><br>

<script>
  const selectEl = document.getElementById('drop-down');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}