{% extends 'base.html' %}
{% block content %}

<h1>All Recipes</h1><br>

<div class="card" id="search">
  <div class="card-action">
    <h5 class="search">Search For Recipe: </h5>
    <form action="{% url 'search_results' %}" method="get">
      <input name="q" type="text" placeholder="Name Of Recipe or Region" id="search-bar">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
</div>
<br><br><br><br>

{% for recipe in recipes %}
<a href="{% url 'detail' recipe.id %}">
  <div class="card">
    <div class="card-content" id="recipe">
      {% for photo in recipe.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
      {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}
      <span class="card-title">{{ recipe.name }}</span>
      <p>Description: {{ recipe.description|linebreaks }}</p>
    </div>
  </div>
</a>
{% endfor %} <br><br>

<script>
  const selectEl = document.getElementById('drop-down');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}