{% extends 'base.html' %}

{% block content%}
<h4>What is One World Recipes?</h4>
<p>One World Recipes is a recipe book developed by food lovers as a team. The mission of our web application was to provide an app for foodies and cooks of any level to easily access recipes from around the globe so that everyone can enjoy diverse, homemade cuisines in the comfort of your kitchen. The application lets you to create, update and delete recipes. The users can review and rate recipes and also delete their comments.
</p>
<h5>Our Mission</h5>
<p>Provide an app for foodies and cooks of any level to easily access recipes from around the globe so that everyone can enjoy diverse, homemade cuisines in the comfort of your kitchen.</p>
<h5>Problem</h5>
<p>There are too many online recipes with unnecessary information.</p>
<h5>Solution</h5>
<p>We took matter into our own hands and built this app so that you can source recipes from around the world to your fingertips.</p>

{% endblock %}