h5.sub {
    font-style: italic;
    margin-left: 2vmin;
}

h2.recipe-title {
    margin-top: -1.8vmin;
    margin-left: 1vmin;
}

nav, footer {
    background-color: #6ec24b;
}

#logo {
    width: 8vmin;
    margin-bottom: -2.5vmin;
    margin-right: -0.5vmin;
}

#logo-title {
    margin-left: -1vmin;
    padding-right: 1vmin;
    color: black;
    font-weight: 300;
}

nav ul a {
    color: black;
}

td>a {
    color: #f60000;
}

#search-bar {
    width: 50vmin;
    margin-top: 2vmin;

}

#search {
    margin-left: 30vmin;
    margin-right: 30vmin;
    display: flex;
    justify-content: center;
}

.search {
    font-size: 5vmin;
}

.card, h1 {
    margin-left: 10vmin;
    margin-right: 10vmin;
}

h5.search {
    margin-left: 7vmin;
}

.card {
    background-color: #cfcfcf;
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

div>p {
    padding-left: 7vmin;
}

textarea {
    background-color: white;
}

#recipe {
    margin-top: 1vmin;
    margin-bottom: 4vmin;
}

#index-photo {
    width: 30vmin;
    height: 30vmin;
}

#index-item {
    margin-left: 20vmin;
    margin-right: 20vmin;
}

.dropdown-content li>span {
    color: black;
}

.index-info {
    display: inline-block;
    margin-left: 3vmin;
    color: black;
}

.card .card-content p {
    max-width: 100vmin;
}

#upload-photo {
    text-align: center;
}

div#recipe.card-content {
    display: flex;
    transition: 250ms;
}

.card-content#recipe:hover {
    transform: scale(1.01);
}

.card .card-title {
    font-size: 4.5vmin;
    padding-bottom: 3vmin;
    font-weight: 500;
}

p {
    font-size: 2.2vmin;
}

#image-detail {
    max-height: 40vmin;
    max-width: 50vmin;
}

@media (min-height: 1056px) {
    #logo {
        width: 6.7vmin;
    }
}

@media (max-width: 1440px) {

}

@media (min-height: 1179px) {
    .card .card-content p {
        max-width: 80vmin;
    }

    #logo {
        width: 6.1vmin;
        margin-bottom: -2vmin;
    }
}

@media (max-width: 970px) {
    .card .card-content p {
        max-width: 70vmin;
    }

    #search {
        margin-left: 10vmin;
        margin-right: 10vmin;
    }

    #index-item {
        margin-left: 5vmin;
        margin-right: 5vmin;
    }
}

@media (max-width: 425px) {
    .card .card-content p {
        max-width: 10vmin;
    }

    #search {
        margin-left: 10vmin;
        margin-right: 10vmin;
    }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}